* {
    box-sizing: border-box;
    /* border: red 1px solid; */
}

body {
    color: white;
    background-color: #FCF8FF;
}

.header {
    background-color:#24053E ;
    border-radius:0% 0% 100% 100%;
    padding-bottom: 320px;
}

.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mid-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first-a {
    background-color: #44FFA1;
    text-decoration: none;
    display: block;
    color: #24053E;
    font-weight: 700;
    padding: 8px;
    margin-bottom: 16px;
}

.white-rectangle {
    position: absolute;
    top: 275px; left: 350px;
    z-index: 20;
}

.green-thing {
    position: absolute;
    top: 155px; left: 315px;
    z-index: 19;
    /* width: 10%; */
}

.white-and-violet {
    position: absolute;
    top: 200px; left: 650px;
    z-index: 20;
}

.phone {
    position: absolute;
    top: 150px; left: 300px;
}


.green-grafic {
    position: absolute;
    top: 365px; left: 375px;
    z-index:21;
}

.card {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 160px;
    position: relative;
    margin-top: 240px;
    color: #24053E;
}

a:hover {
    color: #44FFA1;
    display: block;
    background-color: #24053E;
    cursor: default;
    border: #44FFA1 1px solid;
}

.hover:hover {
    color: #44FFA1;
    text-decoration: underline #44FFA1;
}

.footer-text {
    background-color: #24053E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    margin-right: 400px;
    margin-bottom: 400px;
    margin-left: 700px;
    margin-top: 400px;
}

.second-a {
    background-color: #44FFA1;
    text-decoration: none;
    display: block;
    color: #24053E;
    font-weight: 700;
    padding: 8px;
    margin-bottom: 16px;
}


